<font color="red">
    
## Shainan Agrawal
## Date: 12/04/2020
## Assignment Grade:
</font>

<font color='blue' size = 1>

### Grading Comments â€“ Totality of all points noted below resulted in a reduction of xx Points.
</font>

In [ ]:
import json
import requests

url_string = "https://api.exchangeratesapi.io/latest?base=USD"
url_response = requests.get(url_string)
exchange_rates = json.loads(url_response.text)
exchange_rates_dict = exchange_rates['rates']
print(exchange_rates_dict)

In [ ]:
success = 0
while success == 0:
    currency_for_conversion = input("\n\nWhat currency would you like to convert to (3-letter currency symbol)?:\t").upper()
    if currency_for_conversion in exchange_rates_dict:
        print("Currency Found")
        exchange_rate = exchange_rates_dict[currency_for_conversion]
        print(exchange_rate)
        success=1
    else:
        print("Currency Symbol not found in the Exchange Rates.")

In [ ]:
import sqlite3
import pandas as pd
DB_FILE = "/Users/cis_developer/CIS5357Fall2020/MMABooks.db"
connection = sqlite3.connect(DB_FILE)
customer_data_query = (f"""SELECT Customers.CustomerID, name, Address, City, State,ZipCode,
                        InvoiceID,InvoiceDate,ProductTotal,SalesTax,Shipping,InvoiceTotal
                        FROM Customers inner join Invoices
                        ON Customers.CustomerID = Invoices.CustomerID""")

customer_data_cursor = connection.cursor()
customer_data_cursor.execute(customer_data_query)
column_names = [i[0] for i in customer_data_cursor.description]
customer_data_df = pd.DataFrame(customer_data_cursor.fetchall(),columns = column_names).round(2)
display(customer_data_df)

connection.close()


print(customer_data_df.dtypes)

    import pandas as pd
if (customer_data_df['InvoiceDate'].dtypes != 'datetime64'):
    customer_data_df['InvoiceDate'] = pd.to_datetime(customer_data_df['InvoiceDate'])
if (customer_data_df['InvoiceTotal'].dtypes != 'float'):
    customer_data_df['InvoiceTotal'] = customer_data_df['InvoiceTotal'].astype(float)

print(customer_data_df.dtypes)

In [ ]:
customer_data_df['InvoiceTotal'] = customer_data_df['InvoiceTotal']* exchange_rate
Total = customer_data_df['InvoiceTotal'].sum()
customer_data_df['Percantage'] = ((customer_data_df['InvoiceTotal'] / Total)*100).round(2)
display(customer_data_df)
invoice_by_date_df = customer_data_df[['InvoiceDate','InvoiceTotal','Percantage']]
invoice_by_date_df = invoice_by_date_df.groupby('InvoiceDate').sum().reset_index()
display(invoice_by_date_df)

In [ ]:
import matplotlib.pyplot as  plt

plt.figure(figsize=(10,10))
plt.style.use('seaborn')
x = invoice_by_date_df['InvoiceDate']
y = invoice_by_date_df['InvoiceTotal']
plt.title('Invoive Date versus Invoice Total')
plt.xlabel('Invoive Date')
plt.ylabel('Invoice Total')
plt.plot(x,y,marker="o",color='b')
plt.tick_params(axis ='both',which='both',length=5)
plt.xticks(rotation=45)
plt.show()

In [ ]:
import matplotlib.pyplot as  plt

plt.figure(figsize=(10,10))
plt.style.use('seaborn')
x = invoice_by_date_df['InvoiceDate']
y = invoice_by_date_df['Percantage']
plt.title('Invoive Date versus Percantage')
plt.xlabel('Invoive Date')
plt.ylabel('Percantage')
plt.plot(x,y,marker="D",color='r')
plt.xticks(rotation=45)
plt.tick_params(axis ='both', which ='both', length = 3)
plt.show()

In [12]:
def read_currency_data():
    
    import json
    import requests

    url_string = "https://api.exchangeratesapi.io/latest?base=USD"
    url_response = requests.get(url_string)
    exchange_rates = json.loads(url_response.text)
    exchange_rates_dict = exchange_rates['rates']
    
    return exchange_rates_dict

In [14]:
def get_currency_exchange_rate(exchange_rates_dict):

    success = 0
    
    while success == 0:
        currency_for_conversion = input("\nWhat currency would you like to convert to (3-letter currency symbol)?:\t").upper()
        
        if currency_for_conversion in exchange_rates_dict:
            exchange_rate = exchange_rates_dict[currency_for_conversion]
            print(f"Exchange rate is available for {currency_for_conversion} currency.\nExchange rate is:{exchange_rate}")
            success=1
        else:
            print(f"No Exchange Rate is available for {currency_for_conversion}.\nKindly enter a symbol for which an exchange rate is available.")
            
    return currency_for_conversion, exchange_rate

In [15]:
c=read_currency_data()

In [16]:
a,b = get_currency_exchange_rate(c)

What currency would you like to convert to (3-letter currency symbol)?:	rty
No Exchange Rate is available for RTY.
Kindly enter a symbol for which an exchange rate is available.


What currency would you like to convert to (3-letter currency symbol)?:	rty
No Exchange Rate is available for RTY.
Kindly enter a symbol for which an exchange rate is available.


What currency would you like to convert to (3-letter currency symbol)?:	gbp
Exchange rate is available for GBP currency.
Exchange rate is:0.7499585612

In [19]:
def get_customer_data():
    
    import sqlite3
    import pandas as pd

    DB_FILE = "/Users/cis_developer/CIS5357Fall2020/MMABooks.db"
    connection = sqlite3.connect(DB_FILE)
    customer_data_query = (f"""SELECT Customers.CustomerID, name, Address, City, State,ZipCode,
                            InvoiceID,InvoiceDate,ProductTotal,SalesTax,Shipping,InvoiceTotal
                            FROM Customers inner join Invoices
                            ON Customers.CustomerID = Invoices.CustomerID""")

    customer_data_cursor = connection.cursor()
    customer_data_cursor.execute(customer_data_query)
    column_names = [i[0] for i in customer_data_cursor.description]
    customer_data_df = pd.DataFrame(customer_data_cursor.fetchall(),columns = column_names).round(2)
    display(customer_data_df)

    connection.close()
    return customer_data_df

In [20]:
e = get_customer_data()

,CustomerID,Name,Address,City,State,ZipCode,InvoiceID,InvoiceDate,ProductTotal,SalesTax,Shipping,InvoiceTotal
0,10,"Johnson, Ajith",2200 Old Germantown Road,McGregor,CA,55555,47,11/13/2015,237.5,17.81,8.75,264.06
1,10,"Johnson, Ajith",2200 Old Germantown Road,McGregor,CA,55555,58,11/19/2015,57.5,4.31,3.75,65.56
2,10,"Johnson, Ajith",2200 Old Germantown Road,McGregor,CA,55555,66,11/24/2015,57.5,4.31,3.75,65.56
3,10,"Johnson, Ajith",2200 Old Germantown Road,McGregor,CA,55555,68,11/26/2015,57.5,4.31,3.75,65.56
4,10,"Johnson, Ajith",2200 Old Germantown Road,McGregor,CA,55555,101,12/09/2015,56.5,4.24,3.75,64.49
5,11,"Patwardhan, John",100 South Main St,Bethel Park,PA,15102,27,11/13/2015,57.5,4.31,3.75,65.56
6,11,"Patwardhan, John",100 South Main St,Bethel Park,PA,15102,31,11/13/2015,57.5,4.31,3.75,65.56
7,11,"Patwardhan, John",100 South Main St,Bethel Park,PA,15102,69,11/26/2015,42.0,3.15,3.75,48.90
8,13,"Nichols, Nadine",7403 Twin Brooks Blvd,Rogers,AR,72756,29,11/13/2015,57.5,4.31,3.75,65.56
9,15,"Nguyen, Allison",4100 Coca-Cola Plaza,Memphis,TN,38118,30,11/13/2015,57.5,4.31,3.75,65.56
10,15,"Nguyen, Allison",4100 Coca-Cola Plaza,Memphis,TN,38118,60,11/19/2015,57.5,4.31,3.75,65.56
11,15,"Nguyen, Allison",4100 Coca-Cola Plaza,Memphis,TN,38118,62,11/19/2015,57.5,4.31,3.75,65.56
12,20,"Chamberland, Sarah",1942 S. Gaydon Avenue,Doraville,CA,30340,18,11/13/2015,156.0,11.70,6.25,173.95
13,20,"Chamberland, Sarah",1942 S. Gaydon Avenue,Doraville,CA,30340,46,11/13/2015,216.5,16.24,7.50,240.24
14,20,"Chamberland, Sarah",1942 S. Gaydon Avenue,Doraville,CA,30340,50,11/14/2015,57.5,4.31,3.75,65.56
15,25,"De la fuente, Cathy",2213 Abbotsford Dr,Dalton,GA,30720,48,11/14/2015,57.5,4.31,3.75,65.56
16,25,"De la fuente, Cathy",2213 Abbotsford Dr,Dalton,GA,30720,104,12/22/2015,57.5,4.31,3.75,65.56
17,33,"Lair, Andrew",28 Marblestone Lane,San Francisco,CA,94122,33,11/13/2015,164.0,12.30,6.25,182.55
18,40,"Roby, Chris",182 Greylock Parkway,Sacto,CA,95814,32,11/13/2015,114.0,8.55,5.00,127.55
19,50,"Hutcheson, Larry",2902 Cannons Lane,Coffeyville,KS,67337,59,11/19/2015,575.0,43.12,15.00,633.12
20,88,"Monse, Charles",5933 6Th Street,Somersert,NJ,08873,57,11/14/2015,57.5,4.31,3.75,65.56
21,125,"Chism, Leslie",123 Main St,Roy,UT,84067,106,12/23/2015,170.5,12.79,6.25,189.54
22,200,"Taliaferro, Eric",2101 E Coliseum Blvd,Westmont,IL,60559,115,09/26/2015,57.5,4.31,3.75,65.56
23,213,"Browning, Albert",1 E. Telecom Parkway,Duluth,GA,30097,45,11/13/2015,57.5,4.31,3.75,65.56
24,233,"Kittendorf, Joe",6430 95th Avenue,Naperville,IL,60623,111,09/19/2015,114.0,8.55,5.00,127.55
25,239,"Anderson, Jeff",3625 Duval Rd #223,Houston,TX,77045,105,12/22/2015,114.0,8.55,5.00,127.55
26,326,"Howell, Kim",4010 Bob Wallace Ave Apt 3,Renton,WA,98056,116,09/26/2015,56.5,4.24,3.75,64.49
27,332,"Galloway, Mariola",P.O. Box 250587,New York,NY,10025,43,11/13/2015,56.5,4.24,3.75,64.49
28,333,"Loyal, Chang",R.R. 1 Box 132,Jacksonville,FL,32207-3713,41,11/13/2015,57.5,4.31,3.75,65.56
29,408,"Anderson, Alan",15650A Vineyard Blvd 143,Albuquerque,NM,87101,102,12/09/2015,170.5,12.79,6.25,189.54
30,470,"Thompson, Elsy",916 N. Lincoln,Troy,MI,48099,110,12/28/2015,113.0,8.48,5.00,126.48
31,495,"Smith, Arthur",P.O. Box 190886,Laurelton,NY,11413,108,12/28/2015,56.5,4.24,3.75,64.49
32,495,"Smith, Arthur",P.O. Box 190886,Laurelton,NY,11413,114,09/26/2015,114.0,8.55,5.00,127.55
33,523,"Bommareddy, Richard",4415 Canoga Ave,New York,NY,10016-6702,118,10/13/2015,56.5,4.24,3.75,64.49
34,555,"Wen, Wayne",1950 Franklin Street,Vallejo,CA,94590,44,11/13/2015,57.5,4.31,3.75,65.56
35,601,"Anderson, Randy",811 Polo Road,Wilmerding,PA,15148,117,10/07/2015,114.0,8.55,5.00,127.55
36,666,"Wu, Jeffrey",4800 Regent Blvd,Como,TX,75431,42,11/13/2015,57.5,4.31,3.75,65.56
37,694,"Lowe, Doug",3251 W. Ellery,Fresno,CA,93711,23,11/13/2015,57.5,4.31,3.75,65.56
38,694,"Lowe, Doug",3251 W. Ellery,Fresno,CA,93711,49,11/14/2015,99.5,7.46,5.00,111.96

In [ ]:
def modify_customer_data(customer_data_df):
    
    
    if (customer_data_df['InvoiceDate'].dtypes != 'datetime64'):
        customer_data_df['InvoiceDate'] = pd.to_datetime(customer_data_df['InvoiceDate'])
    if (customer_data_df['InvoiceTotal'].dtypes != 'float'):
        customer_data_df['InvoiceTotal'] = customer_data_df['InvoiceTotal'].astype(float)

    print(customer_data_df.dtypes)
    customer_data_df['InvoiceTotal'] = customer_data_df['InvoiceTotal']* exchange_rate
    Total = customer_data_df['InvoiceTotal'].sum()
    customer_data_df['Percantage'] = ((customer_data_df['InvoiceTotal'] / Total)*100).round(2)
    display(customer_data_df)
    invoice_by_date_df = customer_data_df[['InvoiceDate','InvoiceTotal','Percantage']]
    invoice_by_date_df = invoice_by_date_df.groupby('InvoiceDate').sum().reset_index()
    display(invoice_by_date_df)

In [ ]:
import matplotlib.pyplot as  plt

plt.figure(figsize=(10,10))
plt.style.use('seaborn')
x = invoice_by_date_df['InvoiceDate']
y = invoice_by_date_df['InvoiceTotal']
plt.title('Invoive Date versus Invoice Total')
plt.xlabel('Invoive Date')
plt.ylabel('Invoice Total')
plt.plot(x,y,marker="o",color='b')
plt.tick_params(axis ='both',which='both',length=5)
plt.xticks(rotation=45)
plt.show()

In [ ]:
import matplotlib.pyplot as  plt

plt.figure(figsize=(10,10))
plt.style.use('seaborn')
x = invoice_by_date_df['InvoiceDate']
y = invoice_by_date_df['Percantage']
plt.title('Invoive Date versus Percantage')
plt.xlabel('Invoive Date')
plt.ylabel('Percantage')
plt.plot(x,y,marker="D",color='r')
plt.xticks(rotation=45)
plt.tick_params(axis ='both', which ='both', length = 3)
plt.show()